<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
<title>Insert title here</title>
</head>
<body>
	<h1>商品新規登録画面</h1>
	<form action="#" th:action="@{/itemCreate}" th:object="${createForm}"
		method="post">
		<div>
			<select name="itemCategoryId">
				<option th:each="c : ${category}"
					th:value="${c.itemCategoryId}"
					th:selected="${categoryId == c.itemCategoryId}">[[${c.itemCategoryName}]]</option>
								<!--  th:selected="${uriagedate == uriage.uriage_date}"-->							
			</select>
	
		</div>
		<div>
			<input type="text"  name="itemName"/>
	
		</div>
		<span th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}" style="color: red"></span>
		
		<div>
			<input type="text"  name="price"/>
	
		</div>
		<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red"></span>
		<div class="float-left">
			<button type="submit" class="btn btn-secondary btn-lg rounded-pill"
				name="create" value="&nbsp;検索&nbsp;">登録</button>
				
		</div>
		<button type="submit" name="back">戻る</button>
	</form>
	
			
</body>
</html>


